################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages/Microsoft.Net.Compilers.1.0.0/tools/Microsoft.Build.Tasks.CodeAnalysis.dll
/WebApplication1.sln
/.vs/WebApplication/v14/.suo
/.vs/WebApplication1/v14/.suo
/.vs/config/applicationhost.config
/Web.config
