################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages/Microsoft.Net.Compilers.1.0.0/tools/Microsoft.Build.Tasks.CodeAnalysis.dll
/WebApplication1.sln
/.vs/WebApplication/v14/.suo
/.vs/WebApplication1/v14/.suo
/.vs/config/applicationhost.config
/Web.config
/WebApplication1/WebApplication1.sln
/WebApplication1/WebApplication1/WebApplication1.csproj.user
/WebApplication1/WebApplication1/WebApplication1.csproj
/WebApplication1/WebApplication1/Web.Release.config
/WebApplication1/WebApplication1/Web.Debug.config
/WebApplication1/WebApplication1/Web.config
/WebApplication1/WebApplication1/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/WebApplication1/WebApplication1/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/WebApplication1/WebApplication1/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/WebApplication1/WebApplication1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/WebApplication1/WebApplication1/obj/Debug/build.force
/WebApplication1/WebApplication1/obj/Debug
/WebApplication1/WebApplication1/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
/WebApplication1/WebApplication1/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
/WebApplication1/WebApplication1/bin/Microsoft.ApplicationInsights.dll
/WebApplication1/WebApplication1/bin/Microsoft.AI.WindowsServer.dll
/WebApplication1/WebApplication1/bin/Microsoft.AI.Web.dll
/WebApplication1/WebApplication1/bin/Microsoft.AI.ServerTelemetryChannel.dll
/WebApplication1/WebApplication1/bin/Microsoft.AI.PerfCounterCollector.dll
/WebApplication1/WebApplication1/bin/Microsoft.AI.DependencyCollector.dll
/WebApplication1/WebApplication1/bin/Microsoft.AI.Agent.Intercept.dll
/WebApplication1/WebApplication1/bin
/WebApplication1/WebApplication1
/WebApplication1/packages/Microsoft.Net.Compilers.1.0.0/tools/VBCSCompiler.exe.config
/WebApplication1/packages/Microsoft.Net.Compilers.1.0.0/tools/VBCSCompiler.exe
/WebApplication1/packages/Microsoft.Net.Compilers.1.0.0/tools/vbc.exe
/WebApplication1/packages/Microsoft.Net.Compilers.1.0.0/tools/System.Reflection.Metadata.dll
/WebApplication1/packages/Microsoft.Net.Compilers.1.0.0/tools/System.Collections.Immutable.dll
/WebApplication1/packages/Microsoft.Net.Compilers.1.0.0/tools/Microsoft.VisualBasic.Core.targets
/WebApplication1/packages/Microsoft.Net.Compilers.1.0.0/tools/Microsoft.CSharp.Core.targets
/WebApplication1/packages/Microsoft.Net.Compilers.1.0.0/tools/Microsoft.CodeAnalysis.VisualBasic.dll
/WebApplication1/packages/Microsoft.Net.Compilers.1.0.0/tools/Microsoft.CodeAnalysis.dll
/WebApplication1/packages/Microsoft.Net.Compilers.1.0.0/tools/Microsoft.CodeAnalysis.CSharp.dll
/WebApplication1/packages/Microsoft.Net.Compilers.1.0.0/tools/Microsoft.Build.Tasks.CodeAnalysis.dll
/WebApplication1/packages/Microsoft.Net.Compilers.1.0.0/tools/csc.exe
/WebApplication1/packages/Microsoft.Net.Compilers.1.0.0/tools
/WebApplication1/packages/Microsoft.Net.Compilers.1.0.0/ThirdPartyNotices.rtf
/WebApplication1/packages/Microsoft.Net.Compilers.1.0.0/Microsoft.Net.Compilers.1.0.0.nupkg
/WebApplication1/packages/Microsoft.Net.Compilers.1.0.0/build/Microsoft.Net.Compilers.props
/WebApplication1/packages/Microsoft.Net.Compilers.1.0.0/build
/WebApplication1/packages/Microsoft.Net.Compilers.1.0.0
/WebApplication1/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/tools/uninstall.ps1
/WebApplication1/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/tools/init.ps1
/WebApplication1/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/tools
/WebApplication1/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0.nupkg
/WebApplication1/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/lib/net45/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
/WebApplication1/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/lib/net45/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
/WebApplication1/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/lib/net45
/WebApplication1/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/content/web.config.uninstall.xdt
/WebApplication1/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/content/web.config.install.xdt
/WebApplication1/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/content
/WebApplication1/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/build/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.props
/WebApplication1/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/build
/WebApplication1/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0
/WebApplication1/packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.0.0/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.0.0.nupkg
/WebApplication1/packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.0.0/lib/net45/Microsoft.AI.ServerTelemetryChannel.XML
/WebApplication1/packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.0.0/lib/net45/Microsoft.AI.ServerTelemetryChannel.dll
/WebApplication1/packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.0.0/lib/net45
/WebApplication1/packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.0.0/lib/net40/Microsoft.AI.ServerTelemetryChannel.XML
/WebApplication1/packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.0.0/lib/net40/Microsoft.AI.ServerTelemetryChannel.dll
/WebApplication1/packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.0.0/lib/net40
/WebApplication1/packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.0.0/lib
/WebApplication1/packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.0.0/content/ApplicationInsights.config.uninstall.xdt
/WebApplication1/packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.0.0/content/ApplicationInsights.config.transform
/WebApplication1/packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.0.0/content/ApplicationInsights.config.install.xdt
/WebApplication1/packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.0.0/content
/WebApplication1/packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.0.0
/WebApplication1/packages/Microsoft.ApplicationInsights.WindowsServer.2.0.0/Tools/install.ps1
/WebApplication1/packages/Microsoft.ApplicationInsights.WindowsServer.2.0.0/Tools
/WebApplication1/packages/Microsoft.ApplicationInsights.WindowsServer.2.0.0/Microsoft.ApplicationInsights.WindowsServer.2.0.0.nupkg
/WebApplication1/packages/Microsoft.ApplicationInsights.WindowsServer.2.0.0/lib/net45/Microsoft.AI.WindowsServer.XML
/WebApplication1/packages/Microsoft.ApplicationInsights.WindowsServer.2.0.0/lib/net45/Microsoft.AI.WindowsServer.dll
/WebApplication1/packages/Microsoft.ApplicationInsights.WindowsServer.2.0.0/lib/net45
/WebApplication1/packages/Microsoft.ApplicationInsights.WindowsServer.2.0.0/lib/net40/Microsoft.AI.WindowsServer.XML
/WebApplication1/packages/Microsoft.ApplicationInsights.WindowsServer.2.0.0/lib/net40/Microsoft.AI.WindowsServer.dll
/WebApplication1/packages/Microsoft.ApplicationInsights.WindowsServer.2.0.0/lib/net40
/WebApplication1/packages/Microsoft.ApplicationInsights.WindowsServer.2.0.0/lib
/WebApplication1/packages/Microsoft.ApplicationInsights.WindowsServer.2.0.0/content/ApplicationInsights.config.uninstall.xdt
/WebApplication1/packages/Microsoft.ApplicationInsights.WindowsServer.2.0.0/content/ApplicationInsights.config.transform
/WebApplication1/packages/Microsoft.ApplicationInsights.WindowsServer.2.0.0/content/ApplicationInsights.config.install.xdt
/WebApplication1/packages/Microsoft.ApplicationInsights.WindowsServer.2.0.0/content
/WebApplication1/packages/Microsoft.ApplicationInsights.WindowsServer.2.0.0
/WebApplication1/packages/Microsoft.ApplicationInsights.Web.2.0.0/Microsoft.ApplicationInsights.Web.2.0.0.nupkg
/WebApplication1/packages/Microsoft.ApplicationInsights.Web.2.0.0/lib/net45/Microsoft.AI.Web.XML
/WebApplication1/packages/Microsoft.ApplicationInsights.Web.2.0.0/lib/net45/Microsoft.AI.Web.dll
/WebApplication1/packages/Microsoft.ApplicationInsights.Web.2.0.0/lib/net45
/WebApplication1/packages/Microsoft.ApplicationInsights.Web.2.0.0/lib/net40/Microsoft.AI.Web.XML
/WebApplication1/packages/Microsoft.ApplicationInsights.Web.2.0.0/lib/net40/Microsoft.AI.Web.dll
/WebApplication1/packages/Microsoft.ApplicationInsights.Web.2.0.0/lib/net40
/WebApplication1/packages/Microsoft.ApplicationInsights.Web.2.0.0/lib
/WebApplication1/packages/Microsoft.ApplicationInsights.Web.2.0.0/content/net45/web.config.uninstall.xdt
/WebApplication1/packages/Microsoft.ApplicationInsights.Web.2.0.0/content/net45/web.config.install.xdt
/WebApplication1/packages/Microsoft.ApplicationInsights.Web.2.0.0/content/net45/ApplicationInsights.config.uninstall.xdt
/WebApplication1/packages/Microsoft.ApplicationInsights.Web.2.0.0/content/net45/ApplicationInsights.config.transform
/WebApplication1/packages/Microsoft.ApplicationInsights.Web.2.0.0/content/net45/ApplicationInsights.config.install.xdt
/WebApplication1/packages/Microsoft.ApplicationInsights.Web.2.0.0/content/net45
/WebApplication1/packages/Microsoft.ApplicationInsights.Web.2.0.0/content/net40/web.config.uninstall.xdt
/WebApplication1/packages/Microsoft.ApplicationInsights.Web.2.0.0/content/net40/web.config.install.xdt
/WebApplication1/packages/Microsoft.ApplicationInsights.Web.2.0.0/content/net40/ApplicationInsights.config.uninstall.xdt
/WebApplication1/packages/Microsoft.ApplicationInsights.Web.2.0.0/content/net40/ApplicationInsights.config.transform
/WebApplication1/packages/Microsoft.ApplicationInsights.Web.2.0.0/content/net40/ApplicationInsights.config.install.xdt
/WebApplication1/packages/Microsoft.ApplicationInsights.Web.2.0.0/content/net40
/WebApplication1/packages/Microsoft.ApplicationInsights.Web.2.0.0/content
/WebApplication1/packages/Microsoft.ApplicationInsights.Web.2.0.0
/WebApplication1/packages/Microsoft.ApplicationInsights.PerfCounterCollector.2.0.0/Microsoft.ApplicationInsights.PerfCounterCollector.2.0.0.nupkg
/WebApplication1/packages/Microsoft.ApplicationInsights.PerfCounterCollector.2.0.0/lib/net45/Microsoft.AI.PerfCounterCollector.dll
/WebApplication1/packages/Microsoft.ApplicationInsights.PerfCounterCollector.2.0.0/lib/net45
/WebApplication1/packages/Microsoft.ApplicationInsights.PerfCounterCollector.2.0.0/lib/net40/Microsoft.AI.PerfCounterCollector.dll
/WebApplication1/packages/Microsoft.ApplicationInsights.PerfCounterCollector.2.0.0/lib/net40
/WebApplication1/packages/Microsoft.ApplicationInsights.PerfCounterCollector.2.0.0/lib
/WebApplication1/packages/Microsoft.ApplicationInsights.PerfCounterCollector.2.0.0/content/ApplicationInsights.config.uninstall.xdt
/WebApplication1/packages/Microsoft.ApplicationInsights.PerfCounterCollector.2.0.0/content/ApplicationInsights.config.transform
/WebApplication1/packages/Microsoft.ApplicationInsights.PerfCounterCollector.2.0.0/content/ApplicationInsights.config.install.xdt
/WebApplication1/packages/Microsoft.ApplicationInsights.PerfCounterCollector.2.0.0/content
/WebApplication1/packages/Microsoft.ApplicationInsights.PerfCounterCollector.2.0.0
/WebApplication1/packages/Microsoft.ApplicationInsights.JavaScript.0.22.9-build00167/tools/prefix.html
/WebApplication1/packages/Microsoft.ApplicationInsights.JavaScript.0.22.9-build00167/tools
/WebApplication1/packages/Microsoft.ApplicationInsights.JavaScript.0.22.9-build00167/Microsoft.ApplicationInsights.JavaScript.0.22.9-build00167.nupkg
/WebApplication1/packages/Microsoft.ApplicationInsights.JavaScript.0.22.9-build00167/content/scripts/ai.0.22.9-build00167.min.js
/WebApplication1/packages/Microsoft.ApplicationInsights.JavaScript.0.22.9-build00167/content/scripts/ai.0.22.9-build00167.js
/WebApplication1/packages/Microsoft.ApplicationInsights.JavaScript.0.22.9-build00167/content/scripts
/WebApplication1/packages/Microsoft.ApplicationInsights.JavaScript.0.22.9-build00167
/WebApplication1/packages/Microsoft.ApplicationInsights.DependencyCollector.2.0.0/Microsoft.ApplicationInsights.DependencyCollector.2.0.0.nupkg
/WebApplication1/packages/Microsoft.ApplicationInsights.DependencyCollector.2.0.0/lib/net45/Microsoft.AI.DependencyCollector.XML
/WebApplication1/packages/Microsoft.ApplicationInsights.DependencyCollector.2.0.0/lib/net45/Microsoft.AI.DependencyCollector.dll
/WebApplication1/packages/Microsoft.ApplicationInsights.DependencyCollector.2.0.0/lib/net45
/WebApplication1/packages/Microsoft.ApplicationInsights.DependencyCollector.2.0.0/lib/net40/Microsoft.AI.DependencyCollector.XML
/WebApplication1/packages/Microsoft.ApplicationInsights.DependencyCollector.2.0.0/lib/net40/Microsoft.AI.DependencyCollector.dll
/WebApplication1/packages/Microsoft.ApplicationInsights.DependencyCollector.2.0.0/lib/net40
/WebApplication1/packages/Microsoft.ApplicationInsights.DependencyCollector.2.0.0/lib
/WebApplication1/packages/Microsoft.ApplicationInsights.DependencyCollector.2.0.0/content/ApplicationInsights.config.uninstall.xdt
/WebApplication1/packages/Microsoft.ApplicationInsights.DependencyCollector.2.0.0/content/ApplicationInsights.config.transform
/WebApplication1/packages/Microsoft.ApplicationInsights.DependencyCollector.2.0.0/content/ApplicationInsights.config.install.xdt
/WebApplication1/packages/Microsoft.ApplicationInsights.DependencyCollector.2.0.0/content
/WebApplication1/packages/Microsoft.ApplicationInsights.DependencyCollector.2.0.0
/WebApplication1/packages/Microsoft.ApplicationInsights.Agent.Intercept.1.2.1/Microsoft.ApplicationInsights.Agent.Intercept.1.2.1.nupkg
/WebApplication1/packages/Microsoft.ApplicationInsights.Agent.Intercept.1.2.1/lib/net45/Microsoft.AI.Agent.Intercept.dll
/WebApplication1/packages/Microsoft.ApplicationInsights.Agent.Intercept.1.2.1/lib/net45
/WebApplication1/packages/Microsoft.ApplicationInsights.Agent.Intercept.1.2.1/lib/net40/Microsoft.AI.Agent.Intercept.dll
/WebApplication1/packages/Microsoft.ApplicationInsights.Agent.Intercept.1.2.1/lib/net40
/WebApplication1/packages/Microsoft.ApplicationInsights.Agent.Intercept.1.2.1/lib
/WebApplication1/packages/Microsoft.ApplicationInsights.Agent.Intercept.1.2.1
/WebApplication1/packages/Microsoft.ApplicationInsights.2.0.0/Microsoft.ApplicationInsights.2.0.0.nupkg
/WebApplication1/packages/Microsoft.ApplicationInsights.2.0.0/lib/net46/Microsoft.ApplicationInsights.XML
/WebApplication1/packages/Microsoft.ApplicationInsights.2.0.0/lib/net46/Microsoft.ApplicationInsights.dll
/WebApplication1/packages/Microsoft.ApplicationInsights.2.0.0/lib/net46
/WebApplication1/packages/Microsoft.ApplicationInsights.2.0.0/lib/net45/Microsoft.ApplicationInsights.XML
/WebApplication1/packages/Microsoft.ApplicationInsights.2.0.0/lib/net45/Microsoft.ApplicationInsights.dll
/WebApplication1/packages/Microsoft.ApplicationInsights.2.0.0/lib/net45
/WebApplication1/packages/Microsoft.ApplicationInsights.2.0.0/lib/net40/Microsoft.ApplicationInsights.XML
/WebApplication1/packages/Microsoft.ApplicationInsights.2.0.0/lib/net40/Microsoft.ApplicationInsights.dll
/WebApplication1/packages/Microsoft.ApplicationInsights.2.0.0/lib/net40
/WebApplication1/packages/Microsoft.ApplicationInsights.2.0.0/lib/dotnet5.4/Microsoft.ApplicationInsights.XML
/WebApplication1/packages/Microsoft.ApplicationInsights.2.0.0/lib/dotnet5.4/Microsoft.ApplicationInsights.dll
/WebApplication1/packages/Microsoft.ApplicationInsights.2.0.0/lib/dotnet5.4
/WebApplication1/packages/Microsoft.ApplicationInsights.2.0.0/lib
/WebApplication1/packages/Microsoft.ApplicationInsights.2.0.0
/WebApplication1/packages
/WebApplication1/.vs/WebApplication1/v14/.suo
/WebApplication1/.vs/WebApplication1/v14
/WebApplication1/.vs/config/applicationhost.config
/WebApplication1/.vs/config
/WebApplication1/.vs
/WebApplication1
